* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202020;
  color: whitesmoke;
}

.navbar {
  height: 70px;
  background-color: #404040;
  display: flex;
  justify-content: center;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: whitesmoke;
  color: #202020;
  padding: 10px;
  margin-bottom: 20px;
}

.input {
  background-color: antiquewhite;
  padding: 10px 5px;
  display: block;
}
