{% extends 'layouts/base.html' %}

<!-- Agregar Contenido -->
{% block content %}

<h1>Tasks</h1>

<!-- Recorrer todas las tareas -->
{% for task in tasks %}

<div>
  {% if task.done == False %}
  <p>Tarea pendiente</p>
  {% else %}
  <p>Tarea realizada</p>
  {% endif %}

  <div>
    <span>{{task.title}}</span>
    <span>{{task.description}}</span>
  </div>
  <p>Project: {{task.project.name}}</p>
  <button>Delete</button>
  <button>Done ✓</button>
  <hr />
</div>

{% endfor %}
<!-- Fin recorrer todas las tareas -->
{% endblock %}
